<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pu.anonymous.mobileinformationcenter" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/App_theme" >

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="com.pu.anonymous.mobileinformationcenter.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.pu.anonymous.mobileinformationcenter.SignUp"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:icon="@android:color/transparent"
            android:theme="@style/App_theme"
            >
        </activity>

        <activity
            android:name=".IsiBerita"
            android:label="Berita"
            android:screenOrientation="portrait"
            android:theme="@style/App_theme" >
        </activity>

        <activity
            android:name=".IsiAgenda"
            android:label="Agenda"
            android:screenOrientation="portrait"
            android:theme="@style/App_theme" >
        </activity>
    </application>

</manifest>
